# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# Model checkpoints
checkpoints/*
!checkpoints/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# Outputs
outputs/*
!outputs/.gitkeep

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/